{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %}



<!-- Add your content of header -->
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <p>
      </p>
      <h1>We Creates</h1>
      <p>Web designer</p>
      <p>
        <a href="https://icons8.com/icon/uLWV5A9vXIPu/facebook"><img style='height: 56px;'
            src="{% static 'icons8-facebook-100.png' %}" /></a>


        <a href="https://www.instagram.com/__website_creator__456/"><img style='height: 56px;'
            src="{% static 'icons8-instagram-100.png' %}" /></a>

        <a href="https://icons8.com/icon/5MQ0gPAYYx7a/twitter"><img style='height: 56px;'
            src="{% static 'icons8-twitter-100.png' %}" /></a>
        </a>
      </p>
    </div>
  </header>



  <!-- Add your site or app content here -->

  <div class="container" id="1">
    <div class="row">
      <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>Websites</h2>
            <div class="row">
              <div class="col-md-4">
                <a href='static/home page/index.html'>
                  <img src="{% static 'h image.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Homepages</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/magzine 2/index.html'>
                  <img src="{% static 'm image.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Magazine websites</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/ecommerce-html-template/index.html'>
                  <img src="{% static 'e-co image.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">E-commerce websites</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/blog/index.html'>
                  <img src="{% static 'blogss.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Blogs</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/folio/html/index.html'>
                  <img src="{% static 'p image.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Portfolio websites</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/Land/index.html'>
                  <img src="{% static 'l page.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Landing pages</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/Directory and contact pages/index.html'>
                  <img src="{% static 'DC img.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Directory and contact pages</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/gamer web/index.html'>
                  <img src="{% static 'game img.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Gamer web..</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/barber-shop-template/index.html'>
                  <img src="{% static 'shop img.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Website for your shop</h3>
                </a>
              </div>
              <div class="col-md-4">
                <a href='static/buss/index.html'>
                  <img src="{% static 'buss web.png' %}" class="img-responsive" alt="">
                  <h3 class="h5 text-center">Business website</h3>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="2">
          <div class="card-block">
            <h2>A LITTLE ABOUT US</h2>
            <div class="row">
              <div class="container">
                <p>We believe ideas come from everyone, everywhere. In fact, at BlackTie, everyone within our agency
                  walls is a designer in their own right. And there are a few principles we believe—and we believe
                  everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately
                  help us redefine the power of design. We’re big believers in doing right by our neighbors. After all,
                  we grew up in the Twin Cities and we believe this place
                  has much to offer. So we do what we can to support the community we love. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="3">
          <div class="card-block">
            <h2>Works</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="{% static 'images/portfolio4.jpg' %} " class="img-responsive" alt="...">
                  <div class="carousel-caption">
                    <h3 class="h5"></h3>

                  </div>
                </div>
                <div class="item">
                  <img src="{% static 'images/Directory2.jpg' %} " class="img-responsive" alt="...">
                  <div class="carousel-caption">
                    <h3 class="h5"></h3>

                  </div>
                </div>

                <div class="item">
                  <img src="{% static 'images/portfolio6.jpg' %}" class="img-responsive" alt="...">
                  <div class="carousel-caption">
                    <h3 class="h5"></h3>

                  </div>
                </div>
              </div>

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

            </div>
          </div>
        </div>

        <div class="card" id="5">
          <div class="card-block">
            <h2>Social Handles</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://icons8.com/icon/uLWV5A9vXIPu/facebook"><img
                      src="{% static 'icons8-facebook-100.png' %}" /> The Creators</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.instagram.com/__the_creator__456/"><img
                      src="{% static 'icons8-instagram-100.png' %}" /> The Creators</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://icons8.com/icon/5MQ0gPAYYx7a/twitter"><img
                      src="{% static 'icons8-twitter-100.png' %}" /> The Creators</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock main-content %}